@using PagedList
@using PagedList.Mvc
@using butunislerburada.Data.Enum

@model butunislerburada.Data.Model.DataModel

@{
    ViewBag.Title = "Mail Listesi";
    ViewBag.PageName = "Mail";
    ViewBag.PageUrl = "MailList";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
    ViewBag.FormID = "FilterMailForm";
}


<section class="content">

    <div class="box box-info pageHeader">
        <div class="box-header with-border">
            <section class="content-header">
                <h1>@ViewBag.Title</h1>
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Ana Sayfa</a></li>
                    <li><a href="@Url.Action("List", ViewBag.PageName)"><i class="fa fa-dashboard"></i> @ViewBag.Title.Replace(" Listesi", "") İşlemleri</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>
        </div>
        <div class="box-body">
            @using (Html.BeginForm("Filter", "Mail", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="input-group input-group-sm">
                    @Html.TextBoxFor(m => m.FilterText, new { @class = "form-control" })
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-flat btnFilter" type="submit">Filtrele</button>
                    </span>
                </div>
            }
        </div>
    </div>

    <div class="alert alert-dismissable" id="ShowStatusInfo">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span id="ShowStatusInfoText"></span>
    </div>

    <div class="box box-primary">

        <div class="box-body table-responsive no-padding">

            <table class="table table-hover" id="@ViewBag.PageName">
                <thead>
                    <tr class="bg-primary">
                        <th>ID</th>
                        <th>Ad Soyad</th>
                        <th>Konu</th>
                        <th>Mesaj</th>
                        <th>Tarih</th>
                        <th class="text-right">İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (var item in Model.ContactPaged)
                    {
                        <tr id="@ViewBag.PageUrl-@item.ID">
                            <td>@item.ID</td>
                            <td>@item.NameSurname</td>
                            <td>@item.Subject</td>
                            <td>@item.Messages</td>
                            <td>@item.CreatedDate</td>
                            <td class="text-right">
                                <input type="checkbox" data-toggle="toggle" name="tools" id="status-@item.ID" class="ChangeStatus" value="analytics" @Html.Raw(item.StatusID == 1 ? "checked" : "") data-id="@item.ID" data-url="@Url.Action("ChangeStatus", ViewBag.PageName)" data-on="@StatusValue.StatusValueName(1)" data-off="@StatusValue.StatusValueName(0)">
                                <a class="btn btn-success mr5" href="@Url.Action("Add", ViewBag.PageName, new { id= item.ID })"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-danger DeleteFormData" data-id="@item.ID" data-current-div="@ViewBag.PageUrl" data-url="@Url.Action("Delete", ViewBag.PageName, new { id= item.ID })"><i class="fa fa-close"></i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>

        <div class="box-footer clearfix">
            @Html.PagedListPager(Model.ContactPaged, sayfa => Url.Action("List", ViewBag.PageName, new { sayfa = sayfa, searchText = Model.FilterText, StatusID = Model.StatusID }))
        </div>

    </div>

</section>