@model butunislerburada.Data.Model.DataModel

<ul class="sidebar-menu">
    <li class="active"><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> <span>Ana Sayfa</span></a></li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i>
            <span>Şarkıcı İşlemleri</span>
            <span class="label label-primary pull-right">@Model.SingerCount</span>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Add","Singer", new { id = 0 })"><i class="fa fa-circle-o"></i> Şarkıcı Ekle</a></li>
            <li><a href="@Url.Action("List","Singer")"><i class="fa fa-circle-o"></i> Şarkıcı Listesi</a></li>
            <li><a href="@Url.Action("List","Singer", new { BotStatusID=0 })"><i class="fa fa-circle-o"></i> Botta Olmayan Şarkıcı Listesi</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-headphones"></i>
            <span>Şarkı İşlemleri</span>
            <span class="label label-primary pull-right">@Model.LyricsCount</span>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Add","Lyrics", new { id = 0 })"><i class="fa fa-circle-o"></i> Şarkı Ekle</a></li>
            <li><a href="@Url.Action("List","Lyrics")"><i class="fa fa-circle-o"></i> Şarkı Listesi</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-bookmark"></i>
            <span>Blog İşlemleri</span>
            <span class="label label-primary pull-right">@Model.BlogCount</span>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Add","Blog", new { id = 0 })"><i class="fa fa-circle-o"></i> Blog Ekle</a></li>
            <li><a href="@Url.Action("List","Blog")"><i class="fa fa-circle-o"></i> Blog Listesi</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-envelope"></i>
            <span>Siteden Mesaj İşlemleri</span>
            <span class="label label-primary pull-right">@Model.ContactCount</span>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("List","Contact")"><i class="fa fa-circle-o"></i> Mesaj Listesi</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-file-text"></i>
            <span>Sayfa İşlemleri</span>
            <span class="label pull-right bg-yellow">2</span>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Add","Page", new { id = 0 })"><i class="fa fa-circle-o"></i> Sayfa Ekle</a></li>
            <li><a href="@Url.Action("List","Page")"><i class="fa fa-circle-o"></i> Sayfa Listesi</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user-plus"></i>
            <span>Şarkıcı Bot İşlemleri</span>
            <span class="label pull-right bg-yellow">3</span>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("GetSinger","BotSinger")"><i class="fa fa-circle-o"></i> Şarkıcı Bot Çalıştır</a></li>
            <li><a href="@Url.Action("GetSinger","BotSinger", new { letter = "S" })"><i class="fa fa-circle-o text-aqua"></i> <span>Harfe Göre Şarkıcı</span></a></li>
            <li><a href="@Url.Action("FixSingerLink","BotSinger")"><i class="fa fa-circle-o"></i> Çift Şarkıcı Temizle</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-volume-up"></i>
            <span>Şarkı Bot İşlemleri</span>
            <span class="label pull-right bg-yellow">2</span>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("GetLyrics","Bot")"><i class="fa fa-circle-o"></i> Şarkı Bot Çalıştır</a></li>
            <li><a href="@Url.Action("FixLyricsLink","Bot")"><i class="fa fa-circle-o"></i> Çift Şarkı Temizle</a></li>
        </ul>
    </li>


    @if (Request.Cookies["UserLogin"] != null)
    {
        if (Request.Cookies["UserLogin"]["UserType"].ToString() == "1")
        {
            <li><a href="@Url.Action("List", "Errorlog")"><i class="fa fa-exclamation-triangle"></i> <span>Hatalar</span></a></li>
        }
    }

</ul>