@using butunislerburada.Data.Enum

@model butunislerburada.Data.Model.DataModel

@{
    ViewBag.Title = "Şarkı Sözü Ekle";
    ViewBag.PageName = "Lyrics";
    ViewBag.FormID = "AddLyricsForm";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>@ViewBag.Title</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Ana Sayfa</a></li>
        <li><a href="@Url.Action("List", ViewBag.PageName)"><i class="fa fa-dashboard"></i> @ViewBag.Title.Replace(" Ekle", "") İşlemleri</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">

    <div class="alert alert-dismissable" id="ShowStatusInfo">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span id="ShowStatusInfoText"></span>
    </div>

    <div class="box box-primary">

        @using (Html.BeginForm("Add", "Lyrics", FormMethod.Post, new { enctype = "multipart/form-data", id = ViewBag.FormID }))
        {
            <div class="box-body">

                @Html.HiddenFor(m => m.Lyrics.ID)
                @Html.HiddenFor(m => m.Lyrics.LyricsLink)
                @Html.HiddenFor(m => m.Lyrics.CreatedDate)
                @Html.HiddenFor(m => m.Lyrics.StatusID)
                @Html.HiddenFor(m => m.Lyrics.BotUrl)

                <div class="form-group">
                    <label class="field-label">Şarkıcı</label>
                    @Html.DropDownListFor(m => m.Lyrics.SingerID, new SelectList(Model.Singers, "ID", "Name"), new { @class = "form-control select2" })
                </div>

                <div class="form-group">
                    <label class="field-label">Başlık</label>
                    @Html.TextBoxFor(m => m.Lyrics.Name, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label class="field-label">Şarkı</label>
                    @Html.TextAreaFor(m => m.Lyrics.Text, new { @class = "form-control textEditor" })
                </div>

            </div>

            <div class="box-footer">
                <a class="btn btn-default" href="@Url.Action("List", ViewBag.PageName)"><i class="fa fa-undo pr5"></i> Vazgeç</a>
                <a class="btn btn-success SendForm" data-form-id="@ViewBag.FormID" data-post-url="@Url.Action("Add", ViewBag.PageName)" data-return-url="@Url.Action("List", ViewBag.PageName)"><i class="fa fa-floppy-o pr5"></i> Kaydet</a>
            </div>
        }

    </div>

</section>



@section scripts{
}