@using PagedList
@using PagedList.Mvc
@using butunislerburada.Data.Enum

@model butunislerburada.Data.Model.DataModel

@{
    ViewBag.Title = "Şarkı Sözü Listesi";
    ViewBag.PageName = "Lyrics";
    ViewBag.PageUrl = "LyricsList";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}


<section class="content">

    <div class="box box-info pageHeader">
        <div class="box-header with-border">
            <section class="content-header">
                <h1>@ViewBag.Title</h1>
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Ana Sayfa</a></li>
                    <li><a href="@Url.Action("List", ViewBag.PageName)"><i class="fa fa-dashboard"></i> @ViewBag.Title.Replace(" Listesi", "") İşlemleri</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>
        </div>
        <div class="box-body">
            @using (Html.BeginForm("Filter", "Lyrics", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="input-group input-group-sm">
                    @Html.TextBoxFor(m => m.FilterText, new { @class = "form-control" })
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-flat btnFilter" type="submit">Filtrele</button>
                    </span>
                </div>
            }
        </div>
    </div>

    <div class="alert alert-dismissable" id="ShowStatusInfo">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span id="ShowStatusInfoText"></span>
    </div>

    <div class="box box-primary">

        <div class="box-body table-responsive no-padding">
            <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="@ViewBag.PageUrl">
                <thead>
                    <tr class="bg-primary">
                        <th>ID</th>
                        <th>Başlık</th>
                        <th>Durum</th>
                        <th class="text-right">İşlemler</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.LyricsPaged)
                    {
                        <tr id="@ViewBag.PageUrl-@item.ID">

                            @*<td class="w50"><img class="img-responsive mw30 ib mr10" title="user" src="assets/img/avatars/1.jpg"></td>*@

                            <td>@item.ID</td>
                            <td>@item.Name</td>
                            <td>
                                <div class="statusArea">
                                    <input type="checkbox" name="tools" id="status-@item.ID" class="ChangeStatus" value="analytics" @Html.Raw(item.StatusID == 1 ? "checked" : "") data-id="@item.ID" data-url="@Url.Action("ChangeStatus", ViewBag.PageName)" @Html.Raw(item.StatusID == 1 ? StatusValue.StatusValueName(1) : StatusValue.StatusValueName(0)) />
                                    <label for="status-@item.ID" id="statusLabel-@item.ID"> @Html.Raw(item.StatusID == 1 ? StatusValue.StatusValueName(1) : StatusValue.StatusValueName(0))</label>
                                </div>
                            </td>
                            <td class="text-right">
                                <a class="btn btn-success mr5" href="@Url.Action("Add", ViewBag.PageName, new { id= item.ID })"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-danger DeleteFormData" data-id="@item.ID" data-current-div="@ViewBag.PageUrl" data-url="@Url.Action("Delete", ViewBag.PageName)"><i class="fa fa-close"></i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="box-footer clearfix">
                @Html.PagedListPager(Model.LyricsPaged, sayfa => Url.Action("List", ViewBag.PageName, new { sayfa = sayfa, searchText = Model.FilterText }))
            </div>

        </div>

    </div>

</section>