@using PagedList
@using PagedList.Mvc
@using butunislerburada.Data.Enum

@model butunislerburada.Data.Model.DataModel

@{
    ViewBag.Title = "Yönetici Listesi";
    ViewBag.PageName = "AdminSetting";
    ViewBag.PageUrl = "AdminSettingList";
    ViewBag.FormID = "AddAdminSettingForm";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>@ViewBag.Title</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Ana Sayfa</a></li>
        <li><a href="@Url.Action("List", ViewBag.PageName)"><i class="fa fa-dashboard"></i> @ViewBag.Title.Replace(" Ekle", "") İşlemleri</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">

    <div class="alert alert-dismissable" id="ShowStatusInfo">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span id="ShowStatusInfoText"></span>
    </div>

    <div class="box box-primary">

        @using (Html.BeginForm("Add", "AdminSetting", FormMethod.Post, new { enctype = "multipart/form-data", id = ViewBag.FormID }))
        {
            <div class="box-body">
                
                <div class="form-group">
                    <label class="field-label">Kullanıcı Adı</label>
                    @Html.TextBoxFor(m => m.Admin.UserName, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label class="field-label">Şifre</label>
                    @Html.TextBoxFor(m => m.Admin.Password, new { @class = "form-control" })
                </div>

            </div>

            <div class="box-footer">
                <a class="btn btn-default" href="@Url.Action("List", ViewBag.PageName)"><i class="fa fa-undo pr5"></i> Vazgeç</a>
                <a class="btn btn-success SendForm" data-form-id="@ViewBag.FormID" data-post-url="@Url.Action("List", ViewBag.PageName)" data-return-url="@Url.Action("List", ViewBag.PageName)"><i class="fa fa-floppy-o pr5"></i> Kaydet</a>
            </div>
        }

    </div>

</section>


<section class="content">

    <div class="box box-info pageHeader">
        <div class="box-header with-border">
            <section class="content-header">
                <h1>@ViewBag.Title</h1>
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Ana Sayfa</a></li>
                    <li><a href="@Url.Action("List", ViewBag.PageName)"><i class="fa fa-dashboard"></i> @ViewBag.Title.Replace(" Listesi", "") İşlemleri</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>
        </div>
    </div>

    <div class="alert alert-dismissable" id="ShowStatusInfo">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span id="ShowStatusInfoText"></span>
    </div>

    <div class="box box-primary">

        <div class="box-body table-responsive no-padding">
            <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="@ViewBag.PageUrl">
                <thead>
                    <tr class="bg-primary">
                        <th>ID</th>
                        <th>Başlık</th>
                        <th class="text-right">İşlemler</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Admins)
                    {
                        <tr id="@ViewBag.PageUrl-@item.ID">
                            <td>@item.ID</td>
                            <td>@item.UserName</td>
                            <td class="text-right">
                                <a class="btn btn-success mr5" href="@Url.Action("List", ViewBag.PageName, new { id= item.ID })"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-danger DeleteFormData" data-id="@item.ID" data-current-div="@ViewBag.PageUrl" data-url="@Url.Action("Delete", ViewBag.PageName, new { id= item.ID })"><i class="fa fa-close"></i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>

</section>