@model butunislerburada.Data.Model.DataModel

@{
    ViewBag.Title = "Blog Ekle";
    ViewBag.PageName = "Blog";
    ViewBag.FormID = "AddBlogForm";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>@ViewBag.Title</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Ana Sayfa</a></li>
        <li><a href="@Url.Action("List", ViewBag.PageName)"><i class="fa fa-dashboard"></i> @ViewBag.Title.Replace(" Ekle", "") İşlemleri</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">

    <div class="alert alert-dismissable" id="ShowStatusInfo">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span id="ShowStatusInfoText"></span>
    </div>

    <div class="box box-primary">

        @using (Html.BeginForm("Add", "Blog", FormMethod.Post, new { enctype = "multipart/form-data", id = ViewBag.FormID }))
        {
            <div class="box-body">

            @Html.HiddenFor(m => m.Blog.ID)
            @Html.HiddenFor(m => m.Blog.CreatedDate)
            @Html.HiddenFor(m => m.Blog.StatusID)
            @Html.HiddenFor(m => m.Blog.ImagePath)

            <div class="@Html.Raw(Model.Blog != null && !string.IsNullOrEmpty(Model.Blog.ImagePath) ? "col-md-10" : "col-md-12")">

                <div class="row">

                    <div class="form-group">
                        <label class="field-label">Başlık</label>
                        @Html.TextBoxFor(m => m.Blog.Name, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label class="field-label">Detay</label>
                        @Html.TextAreaFor(m => m.Blog.Detail, new { @class = "form-control textEditor" })
                    </div>

                    <div class="form-group">
                        <label>Resim</label>
                        <div class="fileUpload">
                            <input type="text">
                            <span>Resim Seç</span>
                            <input type="file" multiple name="ImgFilePath" id="ImgFilePath">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="field-label">Description</label>
                        @Html.TextAreaFor(m => m.Blog.Description, new { @class = "form-control" })
                    </div>

                </div>

            </div>

            @if (Model.Blog != null && !string.IsNullOrEmpty(Model.Blog.ImagePath))
            {
                <div class="col-md-2">
                    <div class="row">
                        <img src="~/Uploads/Blog/thumb/@Model.Blog.ImagePath" class="uploadImage" />
                    </div>
                </div>
            }

        </div>

            <div class="box-footer">
                <a class="btn btn-default" href="@Url.Action("List", ViewBag.PageName)"><i class="fa fa-undo pr5"></i> Vazgeç</a>
                <a class="btn btn-primary SendForm" data-form-id="@ViewBag.FormID" data-post-url="@Url.Action("Add", ViewBag.PageName)" data-return-url="@Url.Action("List", ViewBag.PageName)"><i class="fa fa-floppy-o pr5"></i> Kaydet</a>
            </div>
        }

    </div>

</section>

@section scripts{
}